@model GetMenuDTO

<h2>Menu</h2>

<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="container">
    <div class="row">
        @if (Model != null)
        {
            foreach (Product product in Model.Products)
            {
                <div class="col-md-4">
                    Product Name: @product?.Name <br />
                    Product Description: @product?.Description <br />
                    Product Price: @product.Price <br />

                    <input type="number" value="1" id="product-quantity-@product.Id" min="1" /><br />
                    <input type="button" value="Add to cart" product-id="@product.Id" product-name="@product.Name" class="btn btn-primary add-to-cart-button" /><br />

                    @Html.ActionLink("Details", "Index", "ProductDetails", new { productId = product.Id }, new { @class = "btn btn-primary" })
                </div>
            }
        }
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.add-to-cart-button').click(function () {
            const productId = parseInt($(this).attr('product-id'));
            const productName = $(this).attr('product-name').toString();
            const quantity = parseInt($("#product-quantity-" + productId).val());

            if (quantity === 0) {
                alert("Please add min 1 item!");
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddItemToCart", "Menu")',
                data: { productId: productId, productName: productName, quantity: quantity },
                success: function () {
                    alert('Added item to cart');
                    $("#product-quantity-" + productId).val(1);
                },
                error: function () {
                    $("#product-quantity-" + productId).val(1);
                    alert('A error');
                }
            });
        });
    });
</script>